In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/surek/OneDrive/Desktop/Netflix.csv")
df.head()

,Title,Genre,Languages,Series or Movie,Hidden Gem Score,Country Availability,Runtime,Director,Writer,Actors,View Rating,IMDb Score,Rotten Tomatoes Score,Metacritic Score,Awards Nominated For,Boxoffice,Release Date,Netflix Release Date,Netflix Link,IMDb Votes
0,Lets Fight Ghost,"Crime, Drama, Fantasy, Horror, Romance","Swedish, Spanish",Series,4.3,Thailand,< 30 minutes,Tomas Alfredson,John Ajvide Lindqvist,"Kåre Hedebrant, Per Ragnar, Lina Leandersson, ...",R,7.9,98.0,82.0,57.0,"$2,122,065",12-Dec-08,04-03-2021,https://www.netflix.com/watch/81415947,205926.0
1,HOW TO BUILD A GIRL,Comedy,English,Movie,7.0,Canada,1-2 hour,Coky Giedroyc,Caitlin Moran,"Paddy Considine, Cleo, Beanie Feldstein, Dónal...",R,5.8,79.0,69.0,NaN,"$70,632",08-May-20,04-03-2021,https://www.netflix.com/watch/81041267,2838.0
2,Centigrade,"Drama, Thriller",English,Movie,6.4,Canada,1-2 hour,Brendan Walsh,"Brendan Walsh, Daley Nixon","Genesis Rodriguez, Vincent Piazza",Unrated,4.3,NaN,46.0,NaN,"$16,263",28-Aug-20,04-03-2021,https://www.netflix.com/watch/81305978,1720.0
3,ANNE+,Drama,Turkish,Series,7.7,"Belgium,Netherlands",< 30 minutes,NaN,NaN,"Vahide Perçin, Gonca Vuslateri, Cansu Dere, Be...",NaN,6.5,NaN,NaN,NaN,NaN,01-Oct-16,04-03-2021,https://www.netflix.com/watch/81336456,1147.0
4,Moxie,"Animation, Short, Drama",English,Movie,8.1,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr...",1-2 hour,Stephen Irwin,NaN,Ragga Gudrun,NaN,6.3,NaN,NaN,4.0,NaN,22-Sep-11,04-03-2021,https://www.netflix.com/watch/81078393,63.0

In [3]:
print(df.columns.tolist())

['Title', 'Genre', 'Languages', 'Series or Movie', 'Hidden Gem Score', 'Country Availability', 'Runtime', 'Director', 'Writer', 'Actors', 'View Rating', 'IMDb Score', 'Rotten Tomatoes Score', 'Metacritic Score', 'Awards Nominated For', 'Boxoffice', 'Release Date', 'Netflix Release Date', 'Netflix Link', 'IMDb Votes']

In [5]:
df.columns = df.columns.str.strip()

In [8]:
df.rename(columns={'Box Office Collection ': 'Box Office'}, inplace=True)

In [12]:

df.columns = df.columns.str.strip()

df['Boxoffice'] = df['Boxoffice'].replace(r'[\$,]', '', regex=True).astype(float)


box_office_hits = df[df['Boxoffice'] >= 2000000]
print("Number of Box-Office Hit Films:", box_office_hits.shape[0])

Number of Box-Office Hit Films: 764

In [13]:
critically_acclaimed = df[df['IMDb Score'] >= 8]
print("Number of Critically Acclaimed Movies:", critically_acclaimed.shape[0])

Number of Critically Acclaimed Movies: 566

In [15]:
both_hits = df[(df['IMDb Score'] >= 8) & (df['Boxoffice'] >= 2000000)]
both_hits[['Title', 'IMDb Score', 'Boxoffice']]

                                            Title  IMDb Score    Boxoffice
15                                          Joker         8.4  335451311.0
17                               Harrys Daughters         8.1  381409310.0
69                                    Stand by Me         8.1   52287414.0
421                              The Elephant Man         8.1   26010864.0
697                         Me & You vs The World         8.1  164615351.0
865                                      Fiction.         8.9  107928762.0
1139                                Girls Revenge         8.1  167767189.0
1218                                         1917         8.3  159227644.0
1338                                    Spotlight         8.1   45055776.0
1359                                       Aliens         8.3   85160248.0
1595                                     Parasite         8.6   53369749.0
1722                                        Joker         8.4  335451311.0
1748                                     Sin City         8.0   74103820.0
2790                                        2 дня         8.5  205881154.0
2841                         Честное пионерское 2         8.5  205881154.0
2844                         Честное пионерское 3         8.2  415004880.0
3633                         Howl’s Moving Castle         8.2    5576743.0
3805                                    Apollo 11         8.2    9039891.0
4008                      The Biggest Little Farm         8.1    4366949.0
4425                          Gods Little Village         8.6    7564459.0
4603    Three Billboards Outside Ebbing, Missouri         8.1   54513740.0
4765                      They Shall Not Grow Old         8.3   17956913.0
4869                                   Green Book         8.2   85080171.0
5341            Spider-Man: Into the Spider-Verse         8.4  190241310.0
6187                                     Magnolia         8.0   22455976.0
6235                           Dances with Wolves         8.0  184208848.0
6237                                Casino Royale         8.0  167445960.0
6239                     Wont You Be My Neighbor?         8.4   22835787.0
6635                  Blade Runner: The Final Cut         8.1   32868943.0
6859                                        Alien         8.4   81900459.0
6931   Baahubali: The Beginning (English Version)         8.0    6738000.0
7098                            Blade Runner 2049         8.0   92054159.0
7190                                       Wonder         8.0  132422809.0
8259                                       Aliens         8.3   85160248.0
8647                  Monty Pythons Life of Brian         8.1   20206622.0
12107                                         NaN         8.2  170742341.0
12116                                         NaN         8.2  197171806.0
12138                                         NaN         8.3   60405931.0
12153                                         NaN         8.4  248159971.0
12172                                         NaN         8.0   24438411.0
12176                                         NaN         8.0   71073420.0
12177                                         NaN         8.3   11487676.0
12180                                         NaN         8.3   45306425.0

In [17]:
critically_acclaimed = df[df['IMDb Score'] >= 8]
high_award = critically_acclaimed[critically_acclaimed['Awards Nominated For'] >= 5]
high_award_sorted = high_award.sort_values(by='Awards Nominated For', ascending=False)
high_award_sorted[['Title', 'IMDb Score', 'Awards Nominated For']]

                      Title  IMDb Score  Awards Nominated For
327           Sesame Street         8.1                 317.0
1595               Parasite         8.6                 262.0
1722                  Joker         8.4                 228.0
15                    Joker         8.4                 228.0
1904          Downton Abbey         8.7                 226.0
...                     ...         ...                   ...
6953                Haunted         8.5                   5.0
6946          Wild District         8.3                   5.0
6919              Pinocchio         8.1                   5.0
8654  Something in the Rain         8.1                   5.0
9034      Violet Evergarden         8.4                   5.0

[172 rows x 3 columns]

In [19]:
crit_tv_us = df[
    (df['IMDb Score'] >= 8) &
    (df['Series or Movie'] == 'TV Show') &
    (df['Country Availability'].str.contains('United States', na=False))
]

crit_tv_us[['Title', 'IMDb Score', 'Country Availability']]

Empty DataFrame
Columns: [Title, IMDb Score, Country Availability]
Index: []

In [22]:
critically_acclaimed = df[df['IMDb Score'] >= 8]


high_award = critically_acclaimed[critically_acclaimed['Awards Nominated For'] >= 5]


high_award_sorted = high_award.sort_values(by='Awards Nominated For', ascending=False)


high_award_sorted[['Title', 'IMDb Score', 'Awards Nominated For']]

                      Title  IMDb Score  Awards Nominated For
327           Sesame Street         8.1                 317.0
1595               Parasite         8.6                 262.0
1722                  Joker         8.4                 228.0
15                    Joker         8.4                 228.0
1904          Downton Abbey         8.7                 226.0
...                     ...         ...                   ...
6953                Haunted         8.5                   5.0
6946          Wild District         8.3                   5.0
6919              Pinocchio         8.1                   5.0
8654  Something in the Rain         8.1                   5.0
9034      Violet Evergarden         8.4                   5.0

[172 rows x 3 columns]

In [24]:
# Convert date columns to datetime
df['Release Date'] = pd.to_datetime(df['Release Date'], dayfirst=True, errors='coerce')
df['Netflix Release Date'] = pd.to_datetime(df['Netflix Release Date'], dayfirst=True, errors='coerce')

# Extract year from both dates
df['Release Year'] = df['Release Date'].dt.year
df['Netflix Release Year'] = df['Netflix Release Date'].dt.year

# Filter only Movies and Netflix release within 2 years of actual release
popular_films = df[
    (df['Series or Movie'] == 'Movie') &
    ((df['Netflix Release Year'] - df['Release Year']) <= 2)
]

# Display result
popular_films[['Title', 'Release Year', 'Netflix Release Year']].head(10)

C:\Users\surek\AppData\Local\Temp\ipykernel_26596\2712839505.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Release Date'] = pd.to_datetime(df['Release Date'], dayfirst=True, errors='coerce')

                  Title  Release Year  Netflix Release Year
1   HOW TO BUILD A GIRL        2020.0                2021.0
2            Centigrade        2020.0                2021.0
5      The Con-Heartist        2020.0                2021.0
8         Only a Mother        2049.0                2021.0
15                Joker        2019.0                2021.0
21    A Guest Is Coming        2047.0                2021.0
24      Indoo Ki Jawani        2020.0                2021.0
29       The Mysterians        2059.0                2021.0
30      No Longer Human        2019.0                2021.0
31               Repast        2051.0                2021.0

In [33]:
print(df.columns.tolist())

['Title', 'Genre', 'Languages', 'Series or Movie', 'Hidden Gem Score', 'Country Availability', 'Runtime', 'Director', 'Writer', 'Actors', 'View Rating', 'IMDb Score', 'Rotten Tomatoes Score', 'Metacritic Score', 'Awards Nominated For', 'Boxoffice', 'Release Date', 'Netflix Release Date', 'Netflix Link', 'IMDb Votes', 'Release Year', 'Netflix Release Year']

In [35]:
popular_canada = df[
    (df['Country Availability'].str.contains('Canada', na=False)) &
    (df['Series or Movie'] == 'Movie') &
    ((df['Netflix Release Date'].dt.year - df['Release Date'].dt.year).abs() <= 2)
]

popular_canada[['Title', 'Country Availability']].head(10)

,Title,Country Availability
1,HOW TO BUILD A GIRL,Canada
2,Centigrade,Canada
24,Indoo Ki Jawani,"Canada,Mexico,South Africa,Thailand,Turkey,Sin..."
96,Bigfoot Family,"Australia,United Kingdom,United States,Canada"
114,Classmates Minus,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr..."
124,Collective,Canada
127,Eeb Allay Ooo!,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr..."
143,Unhinged,Canada
144,John Lewis: Good Trouble,Canada
152,Then Came You,Canada

In [37]:
# Ensure Runtime is a string
df['Runtime'] = df['Runtime'].astype(str)

# Filter only movies
movies = df[df['Series or Movie'] == 'Movie']

# Filter those with Runtime containing 1h or more
movies_1hr_or_more = movies[movies['Runtime'].str.contains('1h|2h|3h|4h', na=False)]

# Display first 10 results
movies_1hr_or_more[['Title', 'Runtime']].head(10)

Empty DataFrame
Columns: [Title, Runtime]
Index: []

In [38]:
print("Total movies with runtime ≥ 1 hour:", len(movies_1hr_or_more))

Total movies with runtime ≥ 1 hour: 0

In [39]:
# Step 1: Convert Languages to string (to safely use .str functions)
df['Languages'] = df['Languages'].astype(str)

# Step 2: Filter TV Series that have more than one language (i.e., comma in 'Languages')
multi_lang_series = df[
    (df['Series or Movie'] == 'Series') &
    (df['Languages'].str.contains(',', na=False))
]

# Step 3: Display first 10
multi_lang_series[['Title', 'Languages']].head(10)

,Title,Languages
0,Lets Fight Ghost,"Swedish, Spanish"
46,The New Pope,"English, Italian"
54,Alice,"English, Cantonese"
95,Operation Buffalo,"English, Aboriginal"
147,The Crew,"English, Spanish"
240,Blippi,"English, Spanish, German"
307,Im Home,"English, Sanskrit"
326,"So Im a Spider, So What?","English, Russian"
327,Sesame Street,"English, Spanish, American Sign Language"
353,Night Stalker: The Hunt for a Serial Killer,"English, Spanish"

In [40]:
# Step 1: Convert necessary columns to string (to avoid AttributeError)
df['Country Availability'] = df['Country Availability'].astype(str)
df['Genre'] = df['Genre'].astype(str)

# Step 2: Filter Movies available in Japan with multiple genres
japan_multi_genre_movies = df[
    (df['Series or Movie'] == 'Movie') &
    (df['Country Availability'].str.contains('Japan', na=False)) &
    (df['Genre'].str.contains(',', na=False))  # Comma indicates multiple genres
]

# Step 3: Display the result
japan_multi_genre_movies[['Title', 'Genre', 'Country Availability']].head(10)

,Title,Genre,Country Availability
4,Moxie,"Animation, Short, Drama","Lithuania,Poland,France,Iceland,Italy,Spain,Gr..."
24,Indoo Ki Jawani,"Comedy, Drama","Canada,Mexico,South Africa,Thailand,Turkey,Sin..."
29,The Mysterians,"Action, Family, Sci-Fi, Thriller",Japan
30,No Longer Human,"Biography, Drama, Thriller",Japan
32,Sway,"Crime, Drama",Japan
35,Gorath,"Action, Family, Sci-Fi, Thriller",Japan
37,Floating Clouds,"Drama, Romance",Japan
38,Cheer Boys!!,"Animation, Drama, Sport",Japan
40,Restart After Come Back Home,"Drama, Romance",Japan
93,Ginny & Georgia - The Afterparty,"Animation, Short","Lithuania,Poland,France,Iceland,Italy,Spain,Gr..."

In [41]:
# Step 1: Convert scores to numeric (handle errors safely)
df['Hidden Gem Score'] = pd.to_numeric(df['Hidden Gem Score'], errors='coerce')
df['IMDb Score'] = pd.to_numeric(df['IMDb Score'], errors='coerce')

# Step 2: Filter only Movies
movies_df = df[df['Series or Movie'] == 'Movie']

# Step 3: Compute Total Rating
movies_df['Total Rating'] = movies_df['Hidden Gem Score'] + movies_df['IMDb Score']

# Step 4: Filter movies with total rating >= 15
highly_rated_movies = movies_df[movies_df['Total Rating'] >= 15]

# Step 5: Display result
highly_rated_movies[['Title', 'Hidden Gem Score', 'IMDb Score', 'Total Rating']].head(10)

C:\Users\surek\AppData\Local\Temp\ipykernel_26596\4068090066.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['Total Rating'] = movies_df['Hidden Gem Score'] + movies_df['IMDb Score']

,Title,Hidden Gem Score,IMDb Score,Total Rating
5,The Con-Heartist,8.6,7.4,16.0
8,Only a Mother,8.3,6.7,15.0
12,The Simple Minded Murderer,7.8,7.6,15.4
14,To Kill a Child,8.8,7.7,16.5
18,Gyllene Tider,8.8,7.7,16.5
31,Repast,8.4,7.7,16.1
32,Sway,8.5,7.2,15.7
33,When a Woman Ascends the Stairs,7.6,8.1,15.7
34,Yearning,8.5,8.1,16.6
37,Floating Clouds,7.8,7.7,15.5

In [42]:
# Step 1: Convert necessary columns to string
df['Genre'] = df['Genre'].astype(str)
df['Country Availability'] = df['Country Availability'].astype(str)

# Step 2: Filter based on all conditions
dramatic_japan_series = df[
    (df['Series or Movie'] == 'Series') &
    (df['Genre'].str.contains('Drama', case=False, na=False)) &
    (df['Country Availability'].str.contains('Japan', na=False))
]

# Step 3: Display the result
dramatic_japan_series[['Title', 'Genre', 'Country Availability']].head(10)

,Title,Genre,Country Availability
53,The Bold Type,Drama,"Lithuania,Poland,Italy,Spain,Greece,Czech Repu..."
95,Operation Buffalo,"Adventure, Comedy, Drama, Thriller, War","Thailand,Singapore,Australia,Malaysia,India,Ho..."
107,Princess Principal,"Animation, Action, Adventure, Drama, Sci-Fi",Japan
115,Oh My JUMP!,Drama,Japan
128,Behind Her Eyes,"Short, Drama","Lithuania,Poland,France,Iceland,Italy,Spain,Gr..."
168,Capitani,"Crime, Drama, Mystery, Thriller","Lithuania,Poland,Iceland,Italy,Spain,Greece,Cz..."
221,Firefly Lane,"Drama, Romance","Lithuania,Poland,France,Iceland,Italy,Spain,Gr..."
229,Stolen face,"Crime, Drama",Japan
254,Ace Attorney,"Comedy, Crime, Drama, Mystery, Thriller",Japan
271,50M2,"Comedy, Drama, Thriller","Lithuania,Poland,France,Iceland,Italy,Spain,Gr..."

In [43]:
print("Number of dramatic TV series from Japan:", len(dramatic_japan_series))

Number of dramatic TV series from Japan: 515

In [44]:
# Step 1: Convert 'Director' to string to avoid errors
df['Director'] = df['Director'].astype(str)

# Step 2: Filter movies directed by a person whose name starts with 'C'
directed_by_c = df[
    (df['Series or Movie'] == 'Movie') &
    (df['Director'].str.startswith('C', na=False))
]

# Step 3: Display result
directed_by_c[['Title', 'Director']].head(10)

                    Title                       Director
1     HOW TO BUILD A GIRL                  Coky Giedroyc
56             Magic hour                   Cole Mueller
82            Criticsized                  Carl T. Evans
83   Communication & Lies              Christopher Banks
153        Story of Women                 Claude Chabrol
154    The Flower of Evil                 Claude Chabrol
155           The Swindle                 Claude Chabrol
169                Romang                 Chang-Geun Lee
235          The Magician  Cem Yilmaz, Ali Taner Baltaci
247            Le Tournoi                  Charles Belot

In [45]:
print("Number of films directed by a person whose name starts with 'C':", len(directed_by_c))

Number of films directed by a person whose name starts with 'C': 277

In [46]:
# Step 1: Ensure 'Title' and 'Director' columns are strings
df['Title'] = df['Title'].astype(str)
df['Director'] = df['Director'].astype(str)

# Step 2: Filter based on conditions
nolan_o_movies = df[
    (df['Series or Movie'] == 'Movie') &
    (df['Director'].str.strip().str.lower() == 'christopher nolan') &
    (df['Title'].str.endswith('o'))
]

# Step 3: Display results
nolan_o_movies[['Title', 'Director']].head(10)

Empty DataFrame
Columns: [Title, Director]
Index: []

In [47]:
print("Number of Nolan-directed films ending with 'o':", len(nolan_o_movies))

Number of Nolan-directed films ending with 'o': 0

In [48]:
# Step 1: Convert columns to string to avoid type issues
df['Director'] = df['Director'].astype(str)
df['Writer'] = df['Writer'].astype(str)

# Step 2: Filter where both Director and Writer are Christopher Nolan
nolan_directed_written = df[
    (df['Series or Movie'] == 'Movie') &
    (df['Director'].str.strip().str.lower() == 'christopher nolan') &
    (df['Writer'].str.strip().str.lower() == 'christopher nolan')
]

# Step 3: Display result
nolan_directed_written[['Title', 'Director', 'Writer']].head(10)

        Title           Director             Writer
8441  Dunkirk  Christopher Nolan  Christopher Nolan

In [49]:
print("Number of films directed and written by Christopher Nolan:", len(nolan_directed_written))

Number of films directed and written by Christopher Nolan: 1

In [51]:
print(df.columns.tolist())

['Title', 'Genre', 'Languages', 'Series or Movie', 'Hidden Gem Score', 'Country Availability', 'Runtime', 'Director', 'Writer', 'Actors', 'View Rating', 'IMDb Score', 'Rotten Tomatoes Score', 'Metacritic Score', 'Awards Nominated For', 'Boxoffice', 'Release Date', 'Netflix Release Date', 'Netflix Link', 'IMDb Votes', 'Release Year', 'Netflix Release Year']

In [52]:
# Clean column (adjust name if needed)
df['Languages'] = df['Languages'].astype(str)
df['IMDb Score'] = pd.to_numeric(df['IMDb Score'], errors='coerce')

# Filter movies in English with high IMDb score
high_rated_english_movies = df[
    (df['Series or Movie'] == 'Movie') &
    (df['Languages'].str.lower().str.contains('english')) &
    (df['IMDb Score'] > 8.5)
]

# Display results
high_rated_english_movies[['Title', 'Languages', 'IMDb Score']]

,Title,Languages,IMDb Score
42,5 Minute,English,8.6
206,The Dream House,"English, Spanish",9.4
218,As Seen On Tv,English,8.6
575,The Troupe,"English, Persian",8.7
704,Ejen Ali The Movie,"Malay, English",8.6
865,Fiction.,"English, Spanish, French",8.9
1337,David Attenborough: A Life on Our Planet,English,9.0
1595,Parasite,"Korean, English",8.6
1904,Downton Abbey,English,8.7
2113,Line of Duty,English,8.7
2174,Saladin,"English, Arabic",8.6
3554,One Girl,"Romanian, Arabic, Finnish, English, Acholi",9.1
6437,Bill Hicks: Relentless,English,8.7
6676,Roll With Me,"English, Arabic",8.6
7177,Conspiracy,English,9.2
8012,The Consuls Son,English,9.1